@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&family=Roboto:wght@100;300;400;500;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
}

html {
  background: url(./img/aral-tasher-unsplash.jpg) no-repeat center center fixed;
  background-size: cover;
  height: 100%;
  overflow: hidden;
}

body {
  font-family: "Roboto", sans-serif;
  min-width: 100%;
  min-height: 100%;
}

.content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5vh;
}

/* search bar styling */
.search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.search-bar form {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 40px;
}

.search-bar input {
  font-size: 1rem;
  padding-left: 1rem;
  width: clamp(280px, 20vw, 70vw);
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.search-bar button {
  border: none;
  width: 40px;
  background-image: url(./img/magnify.svg);
  background-size: 28px;
  background-position: 40%;
  background-repeat: no-repeat;
  background-color: rgb(0, 0, 0);
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.search-bar button:hover {
  cursor: pointer;
}

/* error message */
.error-message {
  position: absolute;
  top: 45px;
  color: rgb(255, 139, 139);
  border: 0.5px solid rgb(255, 139, 139);
  background-color: rgba(0, 0, 0, 0.729);
  padding: 10px;
  display: none;
}

/* upper weather data container */
.weather-container {
  position: relative;
  color: rgba(255, 255, 255, 0.864);
  margin-top: 3rem;
  width: clamp(330px, 35vw, 95vw);
  padding: 5%;
  background-color: rgba(0, 0, 0, 0.729);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.temp-type-btn {
  position: absolute;
  text-align: center;
  padding-top: 5px;
  padding-right: 6px;
  width: 32px;
  height: 32px;
  color: black;
  background-color: white;
  font-weight: 500;
  font-size: 1.2rem;
  border-radius: 15px;
  top: 1.5%;
  right: 1%;
}

.temp-type-btn:hover {
  cursor: pointer;
  opacity: 0.8;
}

.location {
  font-size: 2rem;
  text-align: center;
}

.temp-data-row {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
}

.temp-data-row .weather-icon img {
  height: 100px;
}

/* lower weather data container */
.weather-details-container {
  margin-top: 10%;
  padding-top: 10%;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  width: 100%;
  border-top: 1px solid rgba(255, 255, 255, 0.864);
}

.weather-details-container img {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

.column-1,
.column-2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mini-container {
  display: flex;
  flex-direction: column;
}

.humidity,
.wind {
  margin-top: 15%;
}

.item {
  display: flex;
}

.label {
  font-size: 0.8rem;
  font-weight: 300;
}

.data {
  font-size: 1.2rem;
}

@media only screen and (max-width: 330px) {
  .content {
    width: 100%;
  }
  .weather-details-container {
    width: 80%;
  }
}
